App_Config/Constellation/SiteManagementConfigurationSectionDesigner.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Constellation.Sitecore.SiteManagement" elementFormDefault="qualified" targetNamespace="urn:Constellation.Sitecore.SiteManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="constellationSiteManagement" type="tns:Constellation.Sitecore.SiteManagement.SiteManagementConfigurationSectionCT" />
	<xs:complexType name="Constellation.Sitecore.SiteManagement.SiteManagementConfigurationSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="transSiteRoles" type="tns:Constellation.Sitecore.SiteManagement.Configuration.RoleElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The roles used by authors that have control of content across all sites</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="siteBlueprints" type="tns:Constellation.Sitecore.SiteManagement.Configuration.SiteBluePrintConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The SiteBlueprints.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="targetSystems" type="tns:Constellation.Sitecore.SiteManagement.Configuration.TargetSysteConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The TargetSystems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.RoleElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.SiteManagement.Configuration.RoleElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.SiteManagement.Configuration.RoleElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.SiteManagement.Configuration.RoleConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The RoleConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.RoleElementCollectionRemoveCT">
		<xs:attribute name="roleName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RoleName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.RoleElementCollectionClearCT" />
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.RoleConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="accessRights" type="tns:Constellation.Sitecore.SiteManagement.Configuration.AccessRightConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The AccessRights.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="roleName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RoleName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="memberOfTheseRoles" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>A comma-delimited list of roles. The newly created role will become a member of these roles</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.SiteBluePrintConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="siteBluePrint" type="tns:Constellation.Sitecore.SiteManagement.Configuration.SiteBlueprintConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The SiteBlueprintConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.SiteBlueprintConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="systemFolders" type="tns:Constellation.Sitecore.SiteManagement.Configuration.SystemFoldersConfigurationElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The SystemFolders.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.SystemFolderConfigurationElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="siteLevelRoles" type="tns:Constellation.Sitecore.SiteManagement.Configuration.RoleElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The SiteRoles.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="folderName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FolderName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="templateID" use="optional">
			<xs:annotation>
				<xs:documentation>The TemplateID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="childTemplateID" use="optional">
			<xs:annotation>
				<xs:documentation>The ChildTemplateID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="parentItemPath" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ParentItemPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="readOnly" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The ReadOnly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="icon" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Icon.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.AccessRightConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.SiteManagement.Configuration.AccessRightConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.SiteManagement.Configuration.AccessRightConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.SiteManagement.Configuration.AccessRightConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The AccessRightConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.AccessRightConfigurationElementCollectionRemoveCT">
		<xs:attribute name="accessRight" use="required" type="tns:ItemAccessRight">
			<xs:annotation>
				<xs:documentation>Item access right</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.AccessRightConfigurationElementCollectionClearCT" />
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.AccessRightConfigurationElementCT">
		<xs:attribute name="accessRight" use="required" type="tns:ItemAccessRight">
			<xs:annotation>
				<xs:documentation>Item access right</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="propagationType" use="optional" type="tns:PropagationType">
			<xs:annotation>
				<xs:documentation>The PropagationType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="accessPermission" use="optional" type="tns:AccessPermission">
			<xs:annotation>
				<xs:documentation>The AccessPermission.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.SystemFoldersConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.SiteManagement.Configuration.SystemFoldersConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.SiteManagement.Configuration.SystemFoldersConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.SiteManagement.Configuration.SystemFolderConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The SystemFolderConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.SystemFoldersConfigurationElementCollectionRemoveCT">
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.SystemFoldersConfigurationElementCollectionClearCT" />
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.TargetSystemConfigurationElementCT">
		<xs:attribute name="systemName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The system name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hostNameMask" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The host name mask, used when creating site definitions. Use $site to represent the site name portion of the mask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowDebug" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The allow debug flag for a site. Used when creating site definitions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cacheHtml" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The cache html flag for a site. Used when creating site definitions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="htmlCacheSize" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The html cache size for a site. Used when creating site definitions. Default is 25MB</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enablePreview" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enable preview flag for a site. Used when creating site definitions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableWebEdit" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableWebEdit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableDebugger" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enable debugger flag for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="disableClientData" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The disable client data flag for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.TargetSysteConfigurationElementCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.SiteManagement.Configuration.TargetSysteConfigurationElementCollectionClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.SiteManagement.Configuration.TargetSysteConfigurationElementCollectionRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.SiteManagement.Configuration.TargetSystemConfigurationElementCT">
				<xs:annotation>
					<xs:documentation>The TargetSystemConfigurationElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="physicalFolder" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The physical folder path, used when creating site definitions. Use $site to represent the site name portion of the mask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="rootPathMask" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The root path. Used when creating site definitions. Use $site to represent the site name portion of the mask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startItem" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The start item for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="database" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The database for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="domain" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The security domain for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="loginPage" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The login page path, used when creating site definitions. Use $site to represent the site name portion of the mask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="includeFormsRoot" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The FormsRoot attribute. Set it to true if Web Forms for Marketers is installed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.TargetSysteConfigurationElementCollectionRemoveCT">
		<xs:attribute name="systemName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The system name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteManagement.Configuration.TargetSysteConfigurationElementCollectionClearCT" />
	<xs:simpleType name="PropagationType">
		<xs:annotation>
			<xs:documentation>Sitecore propagation type for the access right</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown">
				<xs:annotation>
					<xs:documentation>Unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Descendants">
				<xs:annotation>
					<xs:documentation>Descendants.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Entity">
				<xs:annotation>
					<xs:documentation>Entity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Any">
				<xs:annotation>
					<xs:documentation>Any.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccessPermission">
		<xs:annotation>
			<xs:documentation>AccessPermission.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NotSet">
				<xs:annotation>
					<xs:documentation>NotSet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Allow">
				<xs:annotation>
					<xs:documentation>Allow.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Deny">
				<xs:annotation>
					<xs:documentation>Deny.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemAccessRight">
		<xs:annotation>
			<xs:documentation>ItemAccessRight.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Read">
				<xs:annotation>
					<xs:documentation>Read.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Create">
				<xs:annotation>
					<xs:documentation>Create.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Write">
				<xs:annotation>
					<xs:documentation>Write.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Delete">
				<xs:annotation>
					<xs:documentation>Delete.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Rename">
				<xs:annotation>
					<xs:documentation>Rename.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
