App_Config/Schemas/Constellation.SiteManagement.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Constellation.Sitecore" elementFormDefault="qualified" targetNamespace="urn:Constellation.Sitecore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Constellation" type="tns:Constellation.Sitecore.ConstellationCT" />
	<xs:complexType name="Constellation.Sitecore.SiteManagement.SiteManagementConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="transSiteRoles" type="tns:Constellation.Sitecore.RoleRulesCT">
				<xs:annotation>
					<xs:documentation>The roles used by authors that have control of content across all sites</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="siteBlueprints" type="tns:Constellation.Sitecore.SiteBlueprintsCT">
				<xs:annotation>
					<xs:documentation>The SiteBlueprints.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="targetSystems" type="tns:Constellation.Sitecore.TargetSystemsCT">
				<xs:annotation>
					<xs:documentation>The TargetSystems.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.RoleRulesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.RoleRulesClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.RoleRulesRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.RoleRuleCT">
				<xs:annotation>
					<xs:documentation>The RoleRule Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.RoleRulesRemoveCT">
		<xs:attribute name="roleName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RoleName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.RoleRulesClearCT" />
	<xs:complexType name="Constellation.Sitecore.RoleRuleCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="accessRights" type="tns:Constellation.Sitecore.AccessRightRuleSettingsCT">
				<xs:annotation>
					<xs:documentation>The AccessRights.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="roleName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RoleName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="memberOfTheseRoles" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>A comma-delimited list of roles. The newly created role will become a member of these roles</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteBlueprintsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="siteBlueprint" type="tns:Constellation.Sitecore.SiteBlueprintCT">
				<xs:annotation>
					<xs:documentation>The SiteBlueprint Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteBlueprintCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="siteFolders" type="tns:Constellation.Sitecore.SiteFoldersCT">
				<xs:annotation>
					<xs:documentation>The SiteFolders.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="siteRootMask" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SiteRootMask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteFolderCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="siteSpecificRoles" type="tns:Constellation.Sitecore.RoleRulesCT">
				<xs:annotation>
					<xs:documentation>The SiteRoles.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="addSubFolderForBlueprint" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AddSubFolderForBlueprint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="addSubFolderForSite" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AddSubFolderForSite.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="subFolderTemplateID" use="optional">
			<xs:annotation>
				<xs:documentation>The SubFolderTemplateID.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="markProtected" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The MarkProtected.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="icon" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Icon.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.AccessRightRuleSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.AccessRightRuleSettingsClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.AccessRightRuleSettingsRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.AccessRightRuleSettingCT">
				<xs:annotation>
					<xs:documentation>The AccessRightRuleSetting Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.AccessRightRuleSettingsRemoveCT">
		<xs:attribute name="accessRight" use="required" type="tns:ItemAccessRight">
			<xs:annotation>
				<xs:documentation>Item access right</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.AccessRightRuleSettingsClearCT" />
	<xs:complexType name="Constellation.Sitecore.AccessRightRuleSettingCT">
		<xs:attribute name="accessRight" use="required" type="tns:ItemAccessRight">
			<xs:annotation>
				<xs:documentation>Item access right</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="propagationType" use="optional" type="tns:PropagationType">
			<xs:annotation>
				<xs:documentation>The PropagationType.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="accessPermission" use="optional" type="tns:AccessPermission">
			<xs:annotation>
				<xs:documentation>The AccessPermission.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteFoldersCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.SiteFoldersClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.SiteFoldersRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.SiteFolderCT">
				<xs:annotation>
					<xs:documentation>The SiteFolder Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteFoldersRemoveCT">
		<xs:attribute name="path" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Path.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.SiteFoldersClearCT" />
	<xs:complexType name="Constellation.Sitecore.TargetSystemCT">
		<xs:attribute name="systemName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The system name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="hostNameMask" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The host name mask, used when creating site definitions. Use $site to represent the site name portion of the mask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="allowDebug" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The allow debug flag for a site. Used when creating site definitions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cacheHtml" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The cache html flag for a site. Used when creating site definitions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="htmlCacheSize" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The html cache size for a site. Used when creating site definitions. Default is 25MB</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enablePreview" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enable preview flag for a site. Used when creating site definitions</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableWebEdit" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableWebEdit.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableDebugger" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The enable debugger flag for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="disableClientData" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The disable client data flag for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.TargetSystemsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="clear" type="tns:Constellation.Sitecore.TargetSystemsClearCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="remove" type="tns:Constellation.Sitecore.TargetSystemsRemoveCT" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:Constellation.Sitecore.TargetSystemCT">
				<xs:annotation>
					<xs:documentation>The TargetSystem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="physicalFolder" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The physical folder path, used when creating site definitions. Use $site to represent the site name portion of the mask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="startItem" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The start item for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="database" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The database for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="domain" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The security domain for a site. Used when creating site definitions.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="loginPage" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The login page path, used when creating site definitions. Use $site to represent the site name portion of the mask.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="includeFormsRoot" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The FormsRoot attribute. Set it to true if Web Forms for Marketers is installed.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.TargetSystemsRemoveCT">
		<xs:attribute name="systemName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The system name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Constellation.Sitecore.TargetSystemsClearCT" />
	<xs:complexType name="Constellation.Sitecore.ConstellationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="siteManagement" type="tns:Constellation.Sitecore.SiteManagement.SiteManagementConfigurationCT" />
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="PropagationType">
		<xs:annotation>
			<xs:documentation>Sitecore propagation type for the access right</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown">
				<xs:annotation>
					<xs:documentation>Unknown.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Descendants">
				<xs:annotation>
					<xs:documentation>Descendants.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Entity">
				<xs:annotation>
					<xs:documentation>Entity.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Any">
				<xs:annotation>
					<xs:documentation>Any.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccessPermission">
		<xs:annotation>
			<xs:documentation>AccessPermission.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="NotSet">
				<xs:annotation>
					<xs:documentation>NotSet.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Allow">
				<xs:annotation>
					<xs:documentation>Allow.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Deny">
				<xs:annotation>
					<xs:documentation>Deny.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemAccessRight">
		<xs:annotation>
			<xs:documentation>ItemAccessRight.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Read">
				<xs:annotation>
					<xs:documentation>Read.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Create">
				<xs:annotation>
					<xs:documentation>Create.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Write">
				<xs:annotation>
					<xs:documentation>Write.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Delete">
				<xs:annotation>
					<xs:documentation>Delete.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Rename">
				<xs:annotation>
					<xs:documentation>Rename.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
